<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="config/bootstrap.php"
         colors="true"
         testdox="true"
         verbose="true">
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_PORT" value="3307"/>
        <env name="DB_DATABASE" value="apsdreamhome_test"/>
        <env name="DB_USERNAME" value="root"/>
        <env name="DB_PASSWORD" value=""/>
    </php>

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">app/Services</directory>
            <directory suffix=".php">app/Http/Controllers</directory>
            <directory suffix=".php">app/Models</directory>
            <directory suffix=".php">app/Core</directory>
        </include>
        <exclude>
            <directory>app/Http/Controllers/Admin</directory>
            <directory>app/Views</directory>
        </exclude>
    </coverage>

    <logging>
        <junit outputFile="build/logs/junit.xml"/>
        <teamcity outputFile="build/logs/teamcity.xml"/>
    </logging>
</phpunit>