<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./unit</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory suffix="Test.php">./functional</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../api</directory>
            <exclude>
                <directory suffix=".php">../api/vendor</directory>
                <directory suffix=".php">../api/tests</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <!-- Test database configuration -->
        <env name="DB_HOST" value="localhost"/>
        <env name="DB_NAME" value="apsdreamhome_test"/>
        <env name="DB_USER" value="root"/>
        <env name="DB_PASS" value=""/>
        
        <!-- API base URL for functional tests -->
        <env name="API_BASE_URL" value="http://localhost/apsdreamhomefinal/api"/>
        
        <!-- Test environment flag -->
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>
