{
  "openapi": "3.0.3",
  "info": {
    "title": "APS Dream Home API",
    "description": "Comprehensive REST API for the APS Dream Home real estate platform. Provides endpoints for property management, user authentication, CRM operations, and administrative functions.",
    "version": "2.0.0",
    "contact": {
      "name": "APS Dream Home Support",
      "email": "support@apsdreamhome.com",
      "url": "https://apsdreamhome.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://apsdreamhome.com/license"
    }
  },
  "servers": [
    {
      "url": "https://api.apsdreamhome.com/v2",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.apsdreamhome.com/v2",
      "description": "Staging server"
    },
    {
      "url": "http://localhost:8000/api/v2",
      "description": "Local development server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "User login",
        "description": "Authenticate user credentials and return access token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": ["Authentication"],
        "summary": "User registration",
        "description": "Register a new user account",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Registration successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": ["Authentication"],
        "summary": "User logout",
        "description": "Invalidate the current access token",
        "responses": {
          "200": {
            "description": "Logout successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Get current user profile",
        "description": "Retrieve the authenticated user's profile information",
        "responses": {
          "200": {
            "description": "User profile retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfile"
                }
              }
            }
          }
        }
      }
    },
    "/properties": {
      "get": {
        "tags": ["Properties"],
        "summary": "List properties",
        "description": "Retrieve a paginated list of properties with optional filtering",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by property status",
            "schema": {
              "type": "string",
              "enum": ["available", "sold", "rented", "under_contract"]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by property type",
            "schema": {
              "type": "string",
              "enum": ["apartment", "house", "villa", "plot", "commercial"]
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "description": "Minimum price filter",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "description": "Maximum price filter",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "Filter by city",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "featured",
            "in": "query",
            "description": "Show only featured properties",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Properties retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertiesResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Properties"],
        "summary": "Create property",
        "description": "Create a new property listing",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PropertyCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Property created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/properties/{id}": {
      "get": {
        "tags": ["Properties"],
        "summary": "Get property details",
        "description": "Retrieve detailed information about a specific property",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Property ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Property details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyDetailResponse"
                }
              }
            }
          },
          "404": {
            "description": "Property not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Properties"],
        "summary": "Update property",
        "description": "Update an existing property listing",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Property ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PropertyUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Property updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Properties"],
        "summary": "Delete property",
        "description": "Delete a property listing",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Property ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Property deleted successfully"
          }
        }
      }
    },
    "/properties/{id}/images": {
      "get": {
        "tags": ["Properties"],
        "summary": "Get property images",
        "description": "Retrieve all images for a specific property",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Property ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Property images retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyImagesResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Properties"],
        "summary": "Upload property image",
        "description": "Upload a new image for a property",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Property ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageUploadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Image uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/leads": {
      "get": {
        "tags": ["CRM"],
        "summary": "List leads",
        "description": "Retrieve a paginated list of leads",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by lead status",
            "schema": {
              "type": "string",
              "enum": ["new", "contacted", "qualified", "proposal", "negotiation", "closed", "lost"]
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Filter by lead source",
            "schema": {
              "type": "string",
              "enum": ["website", "referral", "social_media", "advertisement", "cold_call"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Leads retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["CRM"],
        "summary": "Create lead",
        "description": "Create a new lead in the CRM system",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lead created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": ["Users"],
        "summary": "List users",
        "description": "Retrieve a paginated list of users (Admin only)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Users retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/analytics/dashboard": {
      "get": {
        "tags": ["Analytics"],
        "summary": "Dashboard analytics",
        "description": "Retrieve dashboard analytics and KPIs",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Analytics data retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardAnalyticsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": ["System"],
        "summary": "System health check",
        "description": "Check the health status of the system",
        "responses": {
          "200": {
            "description": "System is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "503": {
            "description": "System is unhealthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email address"
          },
          "password": {
            "type": "string",
            "minLength": 8,
            "description": "User password"
          }
        }
      },
      "RegisterRequest": {
        "type": "object",
        "required": ["name", "email", "password", "password_confirmation"],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 255,
            "description": "Full name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address"
          },
          "password": {
            "type": "string",
            "minLength": 8,
            "description": "Password"
          },
          "password_confirmation": {
            "type": "string",
            "description": "Password confirmation"
          },
          "phone": {
            "type": "string",
            "description": "Phone number"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Login successful"
          },
          "data": {
            "type": "object",
            "properties": {
              "user": {
                "$ref": "#/components/schemas/UserProfile"
              },
              "token": {
                "type": "string",
                "description": "JWT access token"
              },
              "token_type": {
                "type": "string",
                "example": "Bearer"
              },
              "expires_in": {
                "type": "integer",
                "description": "Token expiration time in seconds"
              }
            }
          }
        }
      },
      "UserProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "User ID"
          },
          "name": {
            "type": "string",
            "description": "Full name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address"
          },
          "phone": {
            "type": "string",
            "description": "Phone number"
          },
          "role": {
            "type": "string",
            "enum": ["admin", "agent", "customer"],
            "description": "User role"
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive", "suspended"],
            "description": "Account status"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Account creation date"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update date"
          }
        }
      },
      "PropertiesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PropertySummary"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "PropertySummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Property ID"
          },
          "title": {
            "type": "string",
            "description": "Property title"
          },
          "type": {
            "type": "string",
            "enum": ["apartment", "house", "villa", "plot", "commercial"],
            "description": "Property type"
          },
          "status": {
            "type": "string",
            "enum": ["available", "sold", "rented", "under_contract"],
            "description": "Property status"
          },
          "price": {
            "type": "number",
            "description": "Property price"
          },
          "currency": {
            "type": "string",
            "default": "INR",
            "description": "Currency code"
          },
          "city": {
            "type": "string",
            "description": "City location"
          },
          "state": {
            "type": "string",
            "description": "State location"
          },
          "featured": {
            "type": "boolean",
            "description": "Whether property is featured"
          },
          "main_image": {
            "type": "string",
            "format": "uri",
            "description": "Main property image URL"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PropertyDetailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "$ref": "#/components/schemas/PropertyDetail"
          }
        }
      },
      "PropertyDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PropertySummary"
          },
          {
            "type": "object",
            "properties": {
              "description": {
                "type": "string",
                "description": "Detailed property description"
              },
              "area": {
                "type": "number",
                "description": "Property area in square feet"
              },
              "bedrooms": {
                "type": "integer",
                "description": "Number of bedrooms"
              },
              "bathrooms": {
                "type": "integer",
                "description": "Number of bathrooms"
              },
              "parking": {
                "type": "integer",
                "description": "Number of parking spaces"
              },
              "furnished": {
                "type": "boolean",
                "description": "Whether property is furnished"
              },
              "amenities": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "List of property amenities"
              },
              "images": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PropertyImage"
                },
                "description": "Property images"
              },
              "agent": {
                "$ref": "#/components/schemas/UserProfile"
              },
              "coordinates": {
                "type": "object",
                "properties": {
                  "latitude": {
                    "type": "number",
                    "format": "float"
                  },
                  "longitude": {
                    "type": "number",
                    "format": "float"
                  }
                }
              }
            }
          }
        ]
      },
      "PropertyImage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "alt_text": {
            "type": "string"
          },
          "is_main": {
            "type": "boolean"
          },
          "sort_order": {
            "type": "integer"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "last_page": {
            "type": "integer"
          },
          "from": {
            "type": "integer"
          },
          "to": {
            "type": "integer"
          }
        }
      },
      "LeadsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LeadSummary"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "LeadSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["new", "contacted", "qualified", "proposal", "negotiation", "closed", "lost"]
          },
          "source": {
            "type": "string",
            "enum": ["website", "referral", "social_media", "advertisement", "cold_call"]
          },
          "budget": {
            "type": "number"
          },
          "property_type": {
            "type": "string"
          },
          "score": {
            "type": "integer",
            "description": "Lead scoring value (0-100)"
          },
          "assigned_agent": {
            "$ref": "#/components/schemas/UserProfile"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DashboardAnalyticsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "total_properties": {
                "type": "integer"
              },
              "active_leads": {
                "type": "integer"
              },
              "monthly_revenue": {
                "type": "number"
              },
              "conversion_rate": {
                "type": "number",
                "format": "float"
              },
              "top_performing_agents": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "agent": {
                      "$ref": "#/components/schemas/UserProfile"
                    },
                    "sales_count": {
                      "type": "integer"
                    },
                    "revenue": {
                      "type": "number"
                    }
                  }
                }
              },
              "property_status_distribution": {
                "type": "object",
                "additionalProperties": {
                  "type": "integer"
                }
              },
              "lead_sources": {
                "type": "object",
                "additionalProperties": {
                  "type": "integer"
                }
              },
              "monthly_trends": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "month": {
                      "type": "string"
                    },
                    "properties_sold": {
                      "type": "integer"
                    },
                    "leads_generated": {
                      "type": "integer"
                    },
                    "revenue": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["healthy", "unhealthy"],
            "description": "System health status"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "string",
            "description": "Application version"
          },
          "environment": {
            "type": "string",
            "description": "Environment (production, staging, development)"
          },
          "services": {
            "type": "object",
            "properties": {
              "database": {
                "type": "string",
                "enum": ["healthy", "unhealthy"]
              },
              "cache": {
                "type": "string",
                "enum": ["healthy", "unhealthy"]
              },
              "file_system": {
                "type": "string",
                "enum": ["healthy", "unhealthy"]
              }
            }
          },
          "response_time_ms": {
            "type": "number",
            "description": "API response time in milliseconds"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "error_code": {
            "type": "string",
            "description": "Error code for programmatic handling"
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorResponse"
          },
          {
            "type": "object",
            "properties": {
              "errors": {
                "type": "object",
                "description": "Field-specific validation errors",
                "additionalProperties": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ]
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Success message"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT Authorization header using the Bearer scheme. Enter your JWT token in the text input below."
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication and authorization endpoints"
    },
    {
      "name": "Properties",
      "description": "Property management and listing endpoints"
    },
    {
      "name": "CRM",
      "description": "Customer Relationship Management endpoints"
    },
    {
      "name": "Users",
      "description": "User management endpoints"
    },
    {
      "name": "Analytics",
      "description": "Analytics and reporting endpoints"
    },
    {
      "name": "System",
      "description": "System health and monitoring endpoints"
    }
  ]
}
