openapi: 3.0.3
info:
  title: APS Dream Home API
  description: Advanced real estate platform with AI-powered recommendations
  version: 2.0.0
  contact:
    name: APS Dream Home Team
    email: support@apsdreamhome.com
    url: https://apsdreamhome.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.apsdreamhome.com/v2.0
    description: Production server
  - url: https://staging-api.apsdreamhome.com/v2.0
    description: Staging server
  - url: http://localhost:8000/api/v2.0
    description: Development server

security:
  - BearerAuth: []

paths:
  /health:
    get:
      summary: Health check endpoint
      description: Returns the health status of the API
      tags:
        - Health
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: healthy
                  timestamp:
                    type: string
                    format: date-time
                  version:
                    type: string
                    example: 2.0.0

  /properties:
    get:
      summary: Get all properties
      description: Retrieve a paginated list of properties with optional filtering
      tags:
        - Properties
      parameters:
        - name: page
          in: query
          description: Page number
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: search
          in: query
          description: Search term for properties
          required: false
          schema:
            type: string
        - name: property_type
          in: query
          description: Filter by property type
          required: false
          schema:
            type: string
            enum: [apartment, house, villa, condo, commercial]
        - name: min_price
          in: query
          description: Minimum price filter
          required: false
          schema:
            type: number
            format: decimal
        - name: max_price
          in: query
          description: Maximum price filter
          required: false
          schema:
            type: number
            format: decimal
        - name: location
          in: query
          description: Filter by location
          required: false
          schema:
            type: string
      responses:
        '200':
          description: List of properties
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      properties:
                        type: array
                        items:
                          $ref: '#/components/schemas/Property'
                      pagination:
                        $ref: '#/components/schemas/Pagination'

  /properties/{id}:
    get:
      summary: Get property by ID
      description: Retrieve detailed information about a specific property
      tags:
        - Properties
      parameters:
        - name: id
          in: path
          required: true
          description: Property ID
          schema:
            type: integer
      responses:
        '200':
          description: Property details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/PropertyDetail'
        '404':
          description: Property not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /properties/featured:
    get:
      summary: Get featured properties
      description: Retrieve a list of featured properties
      tags:
        - Properties
      parameters:
        - name: limit
          in: query
          description: Number of featured properties to return
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 50
      responses:
        '200':
          description: Featured properties
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Property'

  /users:
    post:
      summary: Register new user
      description: Create a new user account
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - password
                - password_confirmation
              properties:
                name:
                  type: string
                  maxLength: 255
                  example: John Doe
                email:
                  type: string
                  format: email
                  maxLength: 255
                  example: john@example.com
                password:
                  type: string
                  minLength: 8
                  maxLength: 255
                  example: password123
                password_confirmation:
                  type: string
                  minLength: 8
                  maxLength: 255
                  example: password123
                phone:
                  type: string
                  maxLength: 20
                  example: +1234567890
                role:
                  type: string
                  enum: [user, agent, admin]
                  default: user
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/User'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/login:
    post:
      summary: User login
      description: Authenticate user and return access token
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: john@example.com
                password:
                  type: string
                  example: password123
                remember_me:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...
                      user:
                        $ref: '#/components/schemas/User'
                      expires_at:
                        type: string
                        format: date-time
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/profile:
    get:
      summary: Get user profile
      description: Retrieve current user profile
      tags:
        - Users
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/UserDetail'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /analytics/overview:
    get:
      summary: Get analytics overview
      description: Retrieve comprehensive analytics data
      tags:
        - Analytics
      security:
        - BearerAuth: []
      parameters:
        - name: period
          in: query
          description: Time period for analytics
          required: false
          schema:
            type: string
            enum: [day, week, month, year]
            default: month
      responses:
        '200':
          description: Analytics data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/AnalyticsOverview'

  /search/properties:
    post:
      summary: Advanced property search
      description: Search properties with advanced filters
      tags:
        - Search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: Search query
                filters:
                  type: object
                  properties:
                    property_type:
                      type: array
                      items:
                        type: string
                    price_range:
                      type: object
                      properties:
                        min:
                          type: number
                          format: decimal
                        max:
                          type: number
                          format: decimal
                    location:
                      type: array
                      items:
                        type: string
                    features:
                      type: array
                      items:
                        type: string
                    bedrooms:
                      type: integer
                      minimum: 0
                    bathrooms:
                      type: integer
                      minimum: 0
                sort:
                  type: object
                  properties:
                    field:
                      type: string
                      enum: [price, created_at, size, bedrooms]
                    order:
                      type: string
                      enum: [asc, desc]
                pagination:
                  type: object
                  properties:
                    page:
                      type: integer
                      minimum: 1
                    limit:
                      type: integer
                      minimum: 1
                      maximum: 100
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      properties:
                        type: array
                        items:
                          $ref: '#/components/schemas/Property'
                      pagination:
                        $ref: '#/components/schemas/Pagination'
                      filters_applied:
                        type: object
                      total_results:
                        type: integer

components:
  schemas:
    Property:
      type: object
      properties:
        id:
          type: integer
          example: 1
        title:
          type: string
          maxLength: 255
          example: Beautiful Apartment in City Center
        description:
          type: text
          example: A beautiful apartment located in the heart of the city
        price:
          type: number
          format: decimal
          example: 250000.00
        location:
          type: string
          example: City Center
        property_type:
          type: string
          enum: [apartment, house, villa, condo, commercial]
          example: apartment
        bedrooms:
          type: integer
          minimum: 0
          example: 2
        bathrooms:
          type: integer
          minimum: 0
          example: 1
        size:
          type: integer
          example: 85
        featured_image:
          type: string
          format: uri
          example: https://cdn.apsdreamhome.com/properties/1/featured.jpg
        status:
          type: string
          enum: [active, inactive, sold, rented]
          example: active
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    PropertyDetail:
      allOf:
        - $ref: '#/components/schemas/Property'
        - type: object
          properties:
            images:
              type: array
              items:
                type: string
                format: uri
            features:
              type: array
              items:
                type: string
            amenities:
              type: array
              items:
                type: string
            nearby_places:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  type:
                    type: string
                  distance:
                    type: string
            contact_info:
              type: object
              properties:
                agent_name:
                  type: string
                agent_phone:
                  type: string
                agent_email:
                  type: string
                agency_name:
                  type: string
            virtual_tour_url:
              type: string
              format: uri
            floor_plan_url:
              type: string
              format: uri

    User:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          maxLength: 255
          example: John Doe
        email:
          type: string
          format: email
          example: john@example.com
        phone:
          type: string
          maxLength: 20
          example: +1234567890
        role:
          type: string
          enum: [user, agent, admin]
          example: user
        avatar:
          type: string
          format: uri
          example: https://cdn.apsdreamhome.com/avatars/1.jpg
        status:
          type: string
          enum: [active, inactive, suspended]
          example: active
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    UserDetail:
      allOf:
        - $ref: '#/components/schemas/User'
        - type: object
          properties:
            preferences:
              type: object
              properties:
                notifications:
                  type: object
                  properties:
                    email:
                      type: boolean
                    sms:
                      type: boolean
                    push:
                      type: boolean
                language:
                  type: string
                  example: en
                currency:
                  type: string
                  example: USD
            favorites:
              type: array
              items:
                type: integer
            search_history:
              type: array
              items:
                type: object
                properties:
                  query:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
            saved_searches:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  filters:
                    type: object
                  created_at:
                    type: string
                    format: date-time

    AnalyticsOverview:
      type: object
      properties:
        total_properties:
          type: integer
          example: 1500
        active_users:
          type: integer
          example: 25000
        total_views:
          type: integer
          example: 150000
        conversion_rate:
          type: number
          format: decimal
          example: 3.5
        average_response_time:
          type: number
          format: decimal
          example: 245.50
        top_locations:
          type: array
          items:
            type: object
            properties:
              location:
                type: string
              count:
                type: integer
        property_types:
          type: object
          properties:
            apartment:
              type: integer
            house:
              type: integer
            villa:
              type: integer
            condo:
              type: integer
            commercial:
              type: integer
        price_ranges:
          type: object
          properties:
            under_100k:
              type: integer
            _100k_250k:
              type: integer
            _250k_500k:
              type: integer
            _500k_1m:
              type: integer
            over_1m:
              type: integer
        monthly_trends:
          type: array
          items:
            type: object
            properties:
              month:
                type: string
              properties:
                type: integer
              views:
                type: integer
              conversions:
                type: integer

    Pagination:
      type: object
      properties:
        current_page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 20
        total:
          type: integer
          example: 150
        last_page:
          type: integer
          example: 8
        from:
          type: integer
          example: 1
        to:
          type: integer
          example: 20

    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: Validation failed
        errors:
          type: object
          example:
            email:
              - The email field is required
              - The email must be a valid email address
        code:
          type: integer
          example: 422

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

tags:
  - name: Health
    description: Health check endpoints
  - name: Properties
    description: Property management endpoints
  - name: Users
    description: User management endpoints
  - name: Analytics
    description: Analytics and reporting endpoints
  - name: Search
    description: Search functionality endpoints
